---
const currentDate = new Date().getFullYear();
---

<footer
    class="h-32 bg-secondary border-t border-border flex items-center justify-center text-lg"
>
    <p>© {currentDate} Gustavo Juneo. All rights reserved.</p>
</footer>
