---
import "../styles/global.css";
import Header from "./_components/header.astro";
import About from "./_components/about.astro";
import Experiences from "./_components/experiences.astro";
import Hero from "./_components/hero.astro";
import Contact from "./_components/contact.astro";
import Footer from "./_components/footer.astro";
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon shortcut" type="image/x-ico" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Passionate about creating innovative solutions and building exceptional digital experiences. Specialized in modern web technologies and scalable applications."
        />
        <title>Gustavo Juneo Santos | Full-Stack Developer Portfolio</title>
    </head>
    <body>
        <Header />
        <Hero />
        <About />
        <Experiences />
        <Contact />
        <Footer />
    </body>
</html>

<script is:inline>
    const htmlElement = document.querySelector("html");
    const theme = localStorage.getItem("theme");

    if (theme === 'light') {
        htmlElement.classList.remove("dark")
        buttonElement.removeAttribute("data-theme");
    } else {
        buttonElement.setAttribute("data-theme", "dark");
    }
</script>